APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:13R1MiwiLma5v9jMdrtE5zuXB4WwSxYZ9c2bW+71UjE=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sipinjam
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=emailkampus@gmail.com
MAIL_PASSWORD=isi_dengan_16_digit_app_password_google
MAIL_ENCRYPTION=smtps
MAIL_FROM_ADDRESS="emailkampus@gmail.com"
MAIL_FROM_NAME="Admin SIPINJAM"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=isi_dengan_client_id_dari_google_cloud
GOOGLE_CLIENT_SECRET=isi_dengan_client_secret_dari_google_cloud
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

FONNTE_TOKEN=isi_dengan_token_fonnte
VITE_ADMIN_WA_NUMBER=isi_nomor_wa_admin
